@import "../variables";

.admin {
  .products {
    border: 1px solid lightgray;
    border-radius: 5px;

    .title {
      font-weight: 600;
      font-size: 1.5em;
      color: $primary-colour;
    }
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
  .admin {
    margin-left: 7.8em !important;
    margin-right: 7.8em !important;
  }
}