.checkout {
  font-family: 'Montserrat', sans-serif;

  .header {
    .title {
      font-size: 1.2em;
      font-weight: 600;
    }

    .back-btn-col {
      .back-btn {
        font-size: 12px;
        height: 30px;
        border-radius: 50px;

        .back-icon {
          width: 10px;
        }

        &:hover {
          background: transparent;
          color: $continue_shopping_btn_hover_color;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .checkout {
    .header {
      .back-btn-col {
        .back-btn {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .checkout {
    .header {
      .back-btn-col {
        .back-btn {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .checkout {
    .header {
      .title {
        text-align: left;
      }

      .back-btn-col {
        text-align: right;

        .back-btn {
          width: 14.5em;
        }
      }
    }
  }
}