@import "../variables";

.item-qty-btn {
  vertical-align: middle;

  .qty-value {
    font-size: 1.2em;
    min-width: 1.5em;
    vertical-align: middle;
    user-select: none;
  }

  .control-btn {
    cursor: pointer;
    color: $item-qty-btn-colour;
    font-size: 1.4em;
  }
}

.arrows {
  font-size: 1.2em;
  color: $sort_arrow_grey_color;
  cursor: pointer;
}

.asc > {
  :first-child {
    color: $sort_arrow_black_color;
  }

  :last-child {
    color: $sort_arrow_grey_color;
  }
}

.desc > {
  :first-child {
    color: $sort_arrow_grey_color;
  }

  :last-child {
    color: $sort_arrow_black_color;
  }
}
