@import "../variables";

* {
  margin: 0;
  padding: 0;
}

.login-section {
  margin-top: 10px;
  margin-bottom: 50px;
  justify-content: center;
  width: 30%;
  box-shadow: $box-shadow;
  border-radius: 10px;

  .input-section {
    margin: 0px auto;
    padding: 0 0 0 0;
    align-items: center;

    .MuiInput-root {
      position: relative;
      width: 230px;
    }

    .MuiGrid-spacing-xs-2 {
      width: 350px;
      margin: auto;
      //align-content: center !important;
      justify-content: center;
    }
  }
  .login-button {
    background-color: $primary-colour;
    width: auto;
    border: 0px;
    font-weight: bold;
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 1200px) {
  .login-section {
    width: 40%;

    .input-section {
      .MuiInput-root {
        width: 200px;
      }

      .MuiGrid-spacing-xs-2 {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .login-section {
    width: 40%;

    .input-section {
      .MuiInput-root {
        width: 200px;
      }

      .MuiGrid-spacing-xs-2 {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .login-section {
    width: 500px;

    .input-section {
      .MuiInput-root {
        width: 200px;
      }

      .MuiGrid-spacing-xs-2 {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 505px){
  .login-section {
    width: 360px;

    .input-section {
      .MuiInput-root {
        width: 200px;
      }

      .MuiGrid-spacing-xs-2 {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 367px){
  .login-section {
    width: 360px;
    font-size: small;
    box-shadow: unset;

    .input-section {
      .MuiInput-root {
        width: 150px;
      }

      .MuiGrid-spacing-xs-2 {
        width: 300px;
      }
    }
  }
}