@import "../variables";

/* =============================
    Navbar Section CSS
================================ */

.navbar-section {
  color: $primary-font-colour;
  line-height: 1.4;

  .navbar-shadow {
    box-shadow: 0 3px 5px 0 rgba(0 0 0 / 0.15);
  }

  .navbar-top {
    font-size: 0.82em;

    .btn {
      font-size: 1.1em;
      padding: 1px 10px;
      margin-top: 3px;
      margin-bottom: 2px;
      border-color: $primary-colour;
      color: $primary-colour;
    }

    .icon {
      color: black;
      font-size: 1.4em;
      margin-right: 10px;
    }
  }

  .navbar-main {

    .navbar-brand {
      text-transform: uppercase;
      font-size: 1.9rem;
      font-weight: bolder;
      white-space: nowrap;
      color: $primary-colour;
    }

    .btn a {
      text-decoration: none;
      color: white;
    }

    .cart-icon {
      color: $primary-colour;
      font-size: 1.9rem;
    }

    button {
      background-color: $primary-colour;
    }

  }

  .navbar-links {
    font-size: 0.81em !important;
    font-weight: 400;
    color: black;

    .navbar-nav {

      a {
        text-decoration: none;
        color: $primary-font-colour;
      }

      a.dropdown-item {
        font-size: 0.7em;
      }

      .btn a {
        color: inherit;
      }

      .btn:hover a {
        color: white;
      }

    }


    #btnPricing {
      font-size: 1.1em;
    }

    .outline-green {
      border: 1px solid #1e7e34;
      font-size: 1.1em;
    }
  }
}

/* =============================
    CSS Media Queries
================================ */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-section {
    .navbar-top {
      width: fit-content;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

