@import "../variables";

/* =============================
    Navbar Section CSS
================================ */

.navbar-section {
  color: $primary-font-colour;
  line-height: 1.4;

  .navbar-shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .navbar-top {
    font-size: 0.82em;

    .btn {
      font-size: 1.1em;
      padding: 1px 10px;
      margin-top: 3px;
      margin-bottom: 2px;
      border-color: $primary-colour;
      color: $primary-colour;
    }

    .icon {
      color: black;
      font-size: 1.4em;
      margin-right: 10px;
    }
  }

  .navbar-main {

    .navbar-cart-popup {
      #dropdown-menu {
        width: 400px;
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

        .item-list {
          .item {
            .info {
              font-size: 0.7em;

              .item-qty {
                color: $primary-font-colour;
              }

              .item-price {
                color: $primary-colour;
              }

              .item-delete-btn {
                font-size: 1em;
                cursor: pointer;
              }
            }
          }
        }

        .cart-info {
          font-size: 0.7em;

          .subtotal-value {
            font-size: 1.1em;
            font-weight: 600;
            color: $est_total_font_color;
          }

          .discount-value {
            font-size: 1.1em;
            font-weight: 600;
            color: $primary-font-colour;
          }

          .est-total-value {
            font-size: 1.1em;
            font-weight: 600;
            color: $est_total_font_color;
          }

          .btn-checkout {
            border-radius: 20px;
            font-size: 0.9em;
          }
        }
      }
    }

    .navbar-brand {
      text-transform: uppercase;
      font-size: 1.9rem;
      font-weight: bolder;
      white-space: nowrap;
      color: $primary-colour;
    }

    .btn a {
      text-decoration: none;
      color: white;
    }

    .cart-icon {
      color: $primary-colour;
      font-size: 1.9rem;

      .item-count {
        background-color: $primary-colour;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        position: absolute;
        margin-top: 2px;
        margin-left: -12px;
        box-shadow: 0 1px 1px 1px #808080;

        .count-value {
          text-align: center;
          position: absolute;
          font-weight: bold;
          font-size: 0.72rem;
          color: white;
          margin-top: 2px;
          margin-left: -4px;
        }
      }
    }

    button {
      background-color: $primary-colour;
    }
  }

  .navbar-links {
    font-size: 0.81em !important;
    font-weight: 400;
    color: black;

    .navbar-nav {

      a {
        text-decoration: none;
        color: $primary-font-colour;
      }

      a.dropdown-item {
        font-size: 0.7em;
      }

      .btn a {
        color: inherit;
      }

      .btn:hover a {
        color: white;
      }
    }


    #btnPricing {
      font-size: 1.1em;
    }

    .outline-green {
      border: 1px solid #1e7e34;
      font-size: 1.1em;
    }
  }
}

/* =============================
    CSS Media Queries
================================ */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-section {
    .navbar-top {
      width: fit-content;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}