$project-green : #4caf50;
$project-gray : #757575;
$border-color : #BDBDBD;
$border-color-add-btn-active: #17A2B8;
$receipt-upload-border :#0288D1;
$receipt-upload-background :#FAFAFA;
$receipt-upload-text :#BDBDBD;
.product-cart-cont{
  overflow-x: hidden;
  padding-bottom: 4em;



  .search-bar-section{
    .search-bar{
      border-color: $project-green;
      border-radius: 1em ;

      &:hover{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .search-icon{
      margin-bottom: -6.5em;
      margin-left: 1.2em;
      font-size:0.7em;

      :hover{
        cursor: pointer;
        box-shadow: none;
      }
    }

  }


  .our-products{
    color: $project-green;
  }

  .category-cont{
    width:100%;
    border: 1px solid $border-color;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .our-products-category-items{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .item-card{
    border: 1px solid $border-color;
    border-radius: 0.5em;
  }

  .crossed-val{
    text-decoration: line-through;
    color: $project-gray;
    font-size: medium;
  }

  .item-val{
    color: $project-green ;
    font-size: medium;
    font-weight: 600;

    .cent-val {
      font-size: 0.8em;
    }
  }

  .add-btn{
    border-radius: 2.3em;
    background-color: $project-green;
    border-color: transparent;
    font-size: 0.9em;
    font-weight: normal;
  }
  .add-btn-update{
    background-color: transparent;
    color:$border-color-add-btn-active ;
    content: 'Update';
    border-radius: 2.3em;
    font-size: 0.9em;
  }

  .product-cards-selection{
    padding: 0 10em;

    .no-products-available {
      color: $receipt-upload-text !important;
      border: 2px solid $receipt-upload-text;
      padding: 1.5em 0 1.5em 0;

      .text {
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }
}

.category-name{
  font-size: small;
  font-weight: bold;
}

.cat-title{
  font-weight: 500;
}
.cat-title-medi{
  font-weight: 500;
  font-size: 0.9em;
}

@media only screen and (max-width: 1200px) {
  .item-card{
    margin-left: 1px;
    margin-right: 1px;
  }

  .add-btn-text{
    font-size: 0.8em;
  }
  .item-input{
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 992px) {
  .item-input{
    font-size: 0.7em;
  }
  .add-btn-text{
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 767px){
  .category-name{
    font-size: 0.7em;
  }
  .search-bar{
    width: 100%;
  }
}

@media only screen and (max-width: 505px){
  .category-name{
    font-size: 0.5em;
  }
  .card-title{
    font-size: 1em;
  }

}

@media only screen and (max-width: 367px){
  .category-name{
    font-size: 0.5em;
  }
  .card-title{
    font-size: 0.9em;
  }

  .crossed-val{
    font-size: 0.7em;
  }

  .item-val {
    font-size: 0.7em;

    .cent-val {
      font-size: 0.7em;
    }
  }
}
.upload-receipt-div {
  border-style: dashed;
  border-color: $receipt-upload-border;
  border-width: 0.14em;
  background-color: $receipt-upload-background;

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn-medi {
    color: $receipt-upload-text;
    background-color: transparent;
    padding: 8px 20px;
    font-size: 1.15em;
    font-weight: bold;
    width: 100%;

  }

  .upload-btn-wrapper input[type=file] {
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}