.carousel-caption {
  position: relative;
  z-index: 1;
  display: table;
  align-items: center;
}

.absolute-div {
  position: absolute;
  top: 70%;
  right: 10%;
  left: 50%;
}

.carousel-caption {
  display: table-row;
  align-content: center;
  vertical-align: middle;
  text-align: center;

  h2 {
    font-family: 'Courgette', serif;
    font-size: 3.5em;
    font-weight: bold;
  }
}

.item {
  position: relative;
}