@import "../variables";

* {
  margin: 0;
  padding: 0;
}

.carousel-caption {
  position: relative;
  z-index: 1;
  display: grid;
  text-align: left !important;
  vertical-align: middle;
}

.absolute-div {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 59%;
  right: 25%;
  bottom: 24%;
  display: grid;

  button {
    margin: 21px 0 0 1px;
    vertical-align: middle;
    padding: 8px 27px;
  }
}

.item {
  position: relative;
}

@media only screen and (max-width: $max-width-phone) {
  .absolute-div {
    width: 150px;
    height: 50px;
    top: 40%;
    right: 10%;

    button {
      margin: 10px 0 0 1px;
      padding: 4px 10px;
    }
  }
}

@media only screen and (min-width: $min-width-tablet) and (max-width: $max-width-tablet) {
  .absolute-div {
    width: 200px;
    height: 100px;
    top: 55%;
    right: 15%;

    button {
      margin: 20px 0 0 0;
      padding: 4px 15px;
    }
  }
}