$continue_shopping_btn_hover_color: #17a2b8;
$sort_arrow_black_color: #424242;
$heading_font_color: #424242;
$sort_arrow_grey_color: #b3b3b3;
$show_results_grey_color: #757575;
$pagination_btn_hover_color: #e9ecef;
$pagination_btn_font_color: #455a64;
$pagination_btn_border_color: #dee2e6;
$selected_pagination_btn_bgcolor: #81c784;
$est_total_font_color: #c82333;